body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background: linear-gradient(135deg, #135689, #021722);
  min-height: 100vh;
  margin: 0;
}
.heading{
    font-size: 40px;
    color: antiquewhite;
    padding: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.main-img {
  height: 150px;
  border-radius: 10px;
  height: 200px;
  object-fit: cover;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}
.main-img:hover {
  transform: scale(1.05);
}
img {
  transition: all 0.3s ease;
}
.gallery-container {
  width: fit-content;
  margin: 10px auto;
  display: flex;
  align-items: center;
}
.btn-slide {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  border-radius: 50%;

  font-size: 20px;
  line-height: 1;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.preview-img {
  height: 70px;
  margin: 0px 7px;
  cursor: pointer;
  border-radius: 5px;
  object-fit: cover;
  opacity: 0.7;
}
.preview-img:hover {
  opacity: 1;
  transform: scale(1.15);
  border: 2px solid black;
}
.gallery-preview {
  display: flex;
  overflow: scroll;
  width: 60%;
  margin: 0 auto;
}